@{
    ViewData["Title"] = "Home Page";
}

<div>
    <button class="login">Login</button>
</div>

<div class="janela-modal" id="janela-modal">
    <div class="modal-dialog">
        <button class="fechar" id="fechar">X</button>
        <div class="modal-bg"></div>
        <div class="modal-content">
            <div id="modal-header">
                <h1>Faça seu login</h1>
                <h4>Ainda não tem conta?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="destino.html">Realizar Cadastro</a></h5>

            </div>
            <div class="modal-body">
                <form action="destino.html" method="post">
                    <input type="text" class="CPF" placeholder="Digite seu CPF" name="cpf" id="cpf" size="35" required> <br>
                    <input type="password" placeholder="Senha" name="senha" id="senha" size="35" required>
                    <h5><a href="destino.html">Esqueci minha senha</a></h5>
                    <button class="submit">Entrar</button>
                </form>
            </div>
            <div class="modal-footer">
                <h6><a href="portalAdm.html">Alterar para o portal de administrador</a></h6>
            </div>
        </div>
    </div>

    <div class="text-center">
    <h1 class="display-4">Welcome Medcenter backend</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="carousel">
        <div class="carousel-slide">
            <img src="https://disadiagnosticos.com.br/wp-content/uploads/elementor/thumbs/BANNER_especialistas-1920x550-1-pg95b8n5l09f3nargea0eah1nma2ie5qjcd96m69vg-pgazysysh931n5spomdknrousr4qhu9ig32jq4bdks.webp"
                 alt="Imagem 0">
        </div>
        <div class="carousel-slide">
            <img src="https://www.clinicatibirica.com.br/uploads/pagina/pagina/2019/11/X1cu98VOvtib1d4a/1920x550-doencas.png"
                 alt="Imagem 1">
        </div>
        <div class="carousel-slide">
            <img src="https://holderradiologia.com.br/wp-content/uploads/2022/12/female-doctor-examines-x-ray-medical-office-medical-care-services-concept-1-1920x550.jpg"
                 alt="Imagem 2">
        </div>
    </div>

    <!-- Controles do Carrossel -->
    <div class="carousel-controls">
        <div class="carousel-dot" data-slide="0"></div>
        <div class="carousel-dot" data-slide="1"></div>
        <div class="carousel-dot" data-slide="2"></div>
    </div>
</div>




