@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Medcenter backend</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="carousel">
        <div class="carousel-slide">
            <img src="https://disadiagnosticos.com.br/wp-content/uploads/elementor/thumbs/BANNER_especialistas-1920x550-1-pg95b8n5l09f3nargea0eah1nma2ie5qjcd96m69vg-pgazysysh931n5spomdknrousr4qhu9ig32jq4bdks.webp"
                 alt="Imagem 0">
        </div>
        <div class="carousel-slide">
            <img src="https://www.clinicatibirica.com.br/uploads/pagina/pagina/2019/11/X1cu98VOvtib1d4a/1920x550-doencas.png"
                 alt="Imagem 1">
        </div>
        <div class="carousel-slide">
            <img src="https://holderradiologia.com.br/wp-content/uploads/2022/12/female-doctor-examines-x-ray-medical-office-medical-care-services-concept-1-1920x550.jpg"
                 alt="Imagem 2">
        </div>
    </div>

    <!-- Controles do Carrossel -->
    <div class="carousel-controls">
        <div class="carousel-dot" data-slide="0"></div>
        <div class="carousel-dot" data-slide="1"></div>
        <div class="carousel-dot" data-slide="2"></div>
    </div>
</div>




