@{
    ViewData["Title"] = "Home Page";
}

<div class="carousel">
    <div class="carousel-slide">
        <img src="https://disadiagnosticos.com.br/wp-content/uploads/elementor/thumbs/BANNER_especialistas-1920x550-1-pg95b8n5l09f3nargea0eah1nma2ie5qjcd96m69vg-pgazysysh931n5spomdknrousr4qhu9ig32jq4bdks.webp"
             alt="Imagem 0">
    </div>
    <div class="carousel-slide">
        <img src="https://www.clinicatibirica.com.br/uploads/pagina/pagina/2019/11/X1cu98VOvtib1d4a/1920x550-doencas.png"
             alt="Imagem 1">
    </div>
    <div class="carousel-slide">
        <img src="https://holderradiologia.com.br/wp-content/uploads/2022/12/female-doctor-examines-x-ray-medical-office-medical-care-services-concept-1-1920x550.jpg"
             alt="Imagem 2">
    </div>
</div>

<div class="carousel-controls">
    <div class="carousel-dot" data-slide="0"></div>
    <div class="carousel-dot" data-slide="1"></div>
    <div class="carousel-dot" data-slide="2"></div>
</div>

<section>
    <div class="flex-container">
        <div class="item1">
            <h2>Cadastro da plataforma</h2>
            <p>Faça o cadastro em nossa plataforma para aproveitar todos os recursos de saúde que possuimos.</p>
            <p>
                Após o cadastro, os usuários poderão escolher entre os planos disponíveis, Basic ou Premium, para
                aproveitar todos os benefícios da plataforma, incluindo agendamento de consultas, exames e
                acesso rápido aos resultados médicos.
            </p>
            <p>
                A plataforma também permitirá aos usuários atualizar suas informações pessoais e de contato
                conforme necessário, garantindo uma experiência personalizada que se preocupa com você.
            </p>
            <p>
                Clique agora no botão abaixo e faça seu cadastro e junte-se a Medcenter, uma empresa que se
                preocupa com você.
            </p>
            <a href="#">Clique aqui para cadastrar agora mesmo</a>
        </div>
        <div class="item2">
            <h2>Agendamentos</h2>
            <p>
                Após o cadastro e login na plataforma com suas credenciais, os usuários têm acesso ao painel
                principal.
            </p>
            <p>
                Os usuários podem selecionar o tipo de atendimento que desejam agendar, como consulta médica ou
                exame laboratorial.
            </p>
            <p>
                A plataforma permite aos usuários buscar clínicas e laboratórios disponíveis em sua região,
                proporcionando informações sobre localização, especialidades médicas e avaliações de outros
                pacientes.
            </p>
            <p>
                se for uma consulta médica, os usuários podem escohler o médico ou especialista de sua
                preferência a partir de uma lista de profissionais disponiveis na clinica selecionada e já
                solicite o seu horário.
            </p>
            <div class="button">
                <a class="button1" href="#">Agendar</a>
                <a class="button2" href="#">Informações sobre procedimentos</a>
            </div>
        </div>
        <div class="flex-container2">
            <div class="item3">
                <h2>Resultados de exames</h2>
                <a class="button3" href="#">Ver meus resultados</a><br>
                <a class="button4" href="#">Como acessar meus exames?</a>
            </div>
            <div class="item4">
                <h2>Orçamento</h2>
                <p>
                    Envie-nos através do formulário abaixo os exames e as vacinas que você e sua família
                    precisam!
                </p>
                <a href="#">Solicite seu orçamento</a>
            </div>
        </div>
    </div>
</section>
<section>
    <!-- Seção 2-->
    <h1>O que você procura?</h1>
    <div class="flex-container3">
        <div class="item5">
            <h2>Exames Laboratoriais</h2>
            <img src="https://pradomed.com.br/wp-content/uploads/2016/05/laboratorias.png" alt="Imagem" width="80" height="80">
            <p>ACESSO RÁPIDO</p>
            <ul>
                <li class="primary"><a href="#">Hemograma</a></li>
                <li class="primary"><a href="#">Glicemia</a></li>
                <li class="primary"><a href="#">Creatinina</a></li>
                <li class="primary"><a href="#">Tsh Ultra Sensivel</a></li>
            </ul>
            <a href="#">VER MAIS</a>
        </div>
        <div class="item6">
            <h2>Exames por Imagem</h2>
            <img src="https://thumbs.dreamstime.com/z/linha-preta-%C3%ADcone-para-o-raio-exame-e-radiologia-tecnologia-radiografia-152986240.jpg" alt="imagem" width="80" height="80">
            <p>ACESSO RÁPIDO</p>
            <ul>
                <li class="secondary"><a href="#">Us Abdomen Total</a></li>
                <li class="secondary"><a href="#">Us Pelvica Transvaginal</a></li>
                <li class="secondary"><a href="#">Eletrocardiograma Convencional Até 12 Derivações</a></li>
                <li class="secondary"><a href="#">Rx Torax Pa Lat</a></li>
            </ul>
            <a href="#">VER MAIS</a>
        </div>
        <div class="item7">
            <h2>Unidades</h2>
            <img src="https://macmagazine.com.br/wp-content/uploads/2012/12/13-googlemaps_icon.png" alt="Imagem" width="80" height="80">
            <p>ACESSO RÁPIDO</p>
            <ul>
                <li class="tertiary"><a href="/home/unidades">Belo Horizonte</a></li>
                <li class="tertiary"><a href="/home/unidades">Nova Lima</a></li>
            </ul>
        </div>
    </div>
</section>
<!-- Rodapé -->
<footer>
    <div class="footer">
        <ul class="footer-institutional">
            <li>Institucional</li>
            <li>Conheça o Medcenter</li>
            <li>Como seus exames são analisados?</li>
            <li>Canal de Conduta</li>
            <li>Política de Privacidade</li>
            <li>Missão, Visão e Valores</li>
            <li>Políticas de Qualidade</li>
            <li>Responsabilidade Social</li>
        </ul>
        <ul class="footer-exams">
            <li>Exames</li>
            <li>Exames laboratoriais</li>
            <li>Exames por imagem</li>
        </ul>
        <ul class="footer-services">
            <li>Serviços</li>
            <li>Checkup</li>
            <li>Atendimento Domiciliar</li>
            <li>Medicina Personalizada</li>
        </ul>
        <ul class="footer-financial">
            <li>Financeiro</li>
            <li>Boleto</li>
            <li>Nota Fiscal</li>
            <li>Orçamento</li>
        </ul>
        <div class="footer-contact-us">
            <h3>Fale conosco</h3>
            <p>
                (31) xxxx xxxx <img src="https://i.pinimg.com/originals/67/8b/20/678b20b7e76e3c81baa4f8c6ee1bc656.png" width="20" height="20" alt="icone do whatsapp">
            </p>
            <p>Segunda a sexta-feira - 6h às 20h</p>
            <p>Sábado e feriados - 6h às 18h</p>
            <p>Domingo - 7h às 13h</p>
            <img src="https://imagepng.org/facebook-icone/facebook-icone-icon-1/" width="30" height="30" alt="icone do facebook"><img src="https://imagepng.org/wp-content/uploads/2017/08/instagram-icone-icon-4.png" width="30" height="30" alt="icone do instagram">
            <h3>Unidades</h3>
        </div>
    </div>
</footer>
<ul class="footer-end">
    <li>Plataforma desenvolvida pelos alunos de Análise e desenvolvimento de Sistema da PUC Minas - 2023</li>
    <li>Medcenter - 2023</li>
</ul>