@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medcenter</title>
    
</head>
<body>
    <div class="main_unidades">
        <h1>Unidades</h1>
    <div class="unidade">
            <div class="text_unidade">
                <h2> Matriz - Santa Efigênia / Belo Horizonte-MG  </h2>
                <p> Rua Grão Pará, 21 - Santa Efigênia, Belo Horizonte-MG.</p>
                <p>CEP - 30150-340</p>
            </div>
                <iframe class="map_unidade" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1516.814068598926!2d-43.921692698173324!3d-19.922336771066778!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa6998c4f7d0ca5%3A0xece735f9914b00b1!2sR.%20Gr%C3%A3o%20Par%C3%A1%2C%2021%20-%20Santa%20Efig%C3%AAnia%2C%20Belo%20Horizonte%20-%20MG%2C%2030150-340!5e0!3m2!1spt-BR!2sbr!4v1695674154764!5m2!1spt-BR!2sbr" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" alt="Santa Efigênia"></iframe>
     </div>
     <hr>
    <div class="unidade">
        <div class="text_unidade">
            <h2> Filial - Vila da Serra / Nova Lima-MG </h2>
                <p> Rua das Acácias - Vila da Serra, Nova Lima-MG.</p>
                <p>CEP - 34006-003</p>
        </div>
                <iframe class="map_unidade" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3749.5445676620852!2d-43.94300631566169!3d-19.985646586364517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa6980065f7955b%3A0x6b44a4a5ab15f490!2sR.%20das%20Ac%C3%A1cias%20-%20Vila%20da%20Serra%2C%20Nova%20Lima%20-%20MG%2C%2034006-003!5e0!3m2!1spt-BR!2sbr!4v1695674912897!5m2!1spt-BR!2sbr" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" alt="Vila da Serra"></iframe>
        </div>
</div>
</body>
</html>