@{
    ViewData["Title"] = "Clinico";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exames</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/exames.css">
    <link rel="stylesheet" href="~/css/reset_exames.css">
    <script src="~/js/exames.js"></script>
</head>
<body onload="ExibirExameClinico()">
    <section class="container__pesquisar">
        <div class="cabecalho__pesquisar">
            <h1 class="exames__titulo">Encontre o seu exame!</h1>
            <input type="search" class="barra__pesquisar" placeholder="Pesquisar exame">
            <div class="links__exames">
                <a class="nav-link text-dark" asp-area="" asp-controller="InfoExm" asp-action="Index">Todos</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="InfoExm" asp-action="Imagem">Imagem</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="InfoExm" asp-action="Clinico">Análise Clínica</a>
            </div>
        </div>
    </section>

    <section class="exames">
        <ul id="exames__lista">
        </ul>
    </section>
</body>
</html>