.container{
    margin-top: 2.5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2,5%;
}

.links{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.elipse-btn {
    background-color: #fff;
    border-radius: 4rem;
    min-width: 30vw ;
    height: 3.25rem;
    border-width: 5;
    border-color: #3CAEC7;
    color: black;
    transition-duration: .3s;
    font-size: 15px;
}
.elipse-btn:hover {
    color: rgb(255, 255, 255);
    background-color: #048a83;
    cursor: pointer
}

.hidden{
    display: none;
}
.selected{
    color: rgb(255, 255, 255);
    background-color: #048a83;
}

.box{
    background: #D9D9D9;
    border-radius: 4rem;
    padding-left: 3vw;
    padding-top: 2vh;
    min-height: 13vh;
    
}
.box1{
    background: #D9D9D9;
    border-radius: 4rem;
    padding-left: 3vw;
    padding-top: 2vh;
    min-height: 13vh;
}
.box2{
    background: #D9D9D9;
    border-radius: 4rem;
    padding-left: 3vw;
    padding-top: 2vh;
    min-height: 13vh;
}

.userimg{
    float: left;
    padding: 1% 2% 5% 0%;
}