@model medcenter_backend.Models.RedefinirSenhaModel

@{
    ViewData["Title"] = "Esqueci minha senha";
}

<h1>Esqueci minha Senha</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Usuarios" asp-action="EnviarLinkParaRedefinirSenha">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" id="email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Redefinir Senha" class="btn btn-success" /> |
                <a asp-action="Index" class="btn btn-primary">Voltar</a>
            </div>
            <br>

        </form>
        <h3>@ViewBag.Message</h3>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}