body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.admin-message {
    background-color: #FF0000;
    color: #fff;
    text-align: center;
    padding: 10px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.admin-message p {
    height: 50%;
    margin: 0;
}

.admin-message a {
    color: #39F3FF;
    text-decoration: none;
    font-weight: bold;
}

.admin-message a:hover {
    text-decoration: underline;
}

header {
    background-color: #3CAEC7;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo-icon{
    margin-left: 15px;
    width: 45px;
    height: 45px;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.menu a:hover {
    background-color: #fff;
    color: #000;
    border: none;
}

.search-icon {
    margin-left: auto;
    margin-right: 30px;
    width: 25px;
    height: 25px;
}

.login {
    background-color: #ccc;
    color: #000;
    padding: 8px 15px;
    border: none;
    margin-right: 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.login:hover {
    background-color: #888;
    color: #000;
}

.carousel {
    margin-top: 20px;
    display: flex;
    overflow: hidden;
    width: 100%;
}

.carousel-slide {
    width: 1920px;
    transition: transform 1s ease;
}

.carousel img {
    width: 1920px;
    height: 550px;
}

.carousel-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carousel-dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-dot.active {
    background-color: #3CAEC7;
}

section .flex-container {
    display: flex;
}

.item1 {
    width: 50%;
    max-width: 640px;
    margin: 0 auto;
    padding: 10px; 
}
.item1 h2 {
    padding-bottom: 30px;
    font-weight: 1;
    text-align: center;
    color: #3CAEC7;
}

.item1 p {
    padding: 17px;
}

.item1 a {
    display: block;
    margin: 5px;
    text-align: center;
    font-size: small;
    text-decoration: none;
    color: white;
    background-color: #3CAEC7;
    border-radius: 3px;
    padding: 10px 10px;
    transition: color 1.0s;
}

.item1 a:hover {
    text-decoration: underline;
}

.item2 {
    width: 50%;
    max-width: 640px;
    margin: 0 auto;
    padding: 10px;
}

.item2 h2 {
    font-weight: 1;
    text-align: center;
    color: #3CAEC7;
}
.item2 p {
    font-size: medium;
    padding: 16px;
}
.item2 a {
    display: block;
    margin: 5px;
    text-align: center;
    font-size: small;
    text-decoration: none;
    color: white;
    background-color: #3CAEC7;
    border-radius: 3px;
    padding: 10px 10px;
    transition: color 1.0s;
}
.item2 a:hover {
    text-decoration: underline;
}

.item2 .button1 {
    font-size: small;
    padding-bottom: 10px;
}

.item2 .button1:hover {
    text-decoration: underline;
}

.item2 .button2 {
    font-size: small;
}
.section .flex-container2 {
    margin: 0 auto;
    justify-content: center;
}

.item3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    max-width: 640px;
    height: 60%;
    text-align: center;
    background-color: #3CAEC7;
    border-radius: 10px;
}

.item3 h2 {
    padding-bottom: 50px;
    color: white;
    font-weight: 10;
}

.item3 a {
    padding-bottom: 30px;
    text-decoration: none;
    color: white;
}
.item3 a:hover {
    text-decoration: underline;
}

.item3 .button3 {
    color: #3CAEC7;
    margin: 0 auto;
    font-size: small;
    background-color:white;
    padding: 15px 60px;
    border-radius: 3px;
}

.item4 {
    max-width: 640px;
    padding: 10px;
}

.item4 h2 {
    padding: 10px;
    font-weight: 1;
    text-align: center;
    color:#3CAEC7;
}

.item4 a {
    display: flex;
    justify-content: center;
    font-size: small;
    text-decoration: none;
    color: white;
    background-color: #3CAEC7;
    padding: 10px ;
    border-radius: 3px;
}

.item4 a:hover {
    text-decoration: underline;
}
h1 {
    margin-left: 50px;
    margin-bottom: 5px;
    font-size: xx-large;
    font-weight: 1;
    color: #888;
}

.flex-container3 {
    text-align: center;
    display: flex; 
}

.item5 {
    padding: 0px 30px;
    width: 40%;
    display: block;
}
.item5 h2 {
    padding-top: 10px;
    border-top: 5px solid #3EB4B2;
    font-weight: 1;

}
.item5 p {
    padding-left: 100px;
    text-align: left;
    font-size: small;
    color: #ccc;
}

.item5 li {
    list-style: none;
    text-decoration: none;
}

.primary {
    background-color: #D6F4F3;
    color: #3EB4B2;
    margin: 10px 10px 10px 50px;
    padding: 25px;
    border-radius: 50px;
    text-align: left;
    transition: background-color 0.3s;
}
.primary:hover {
    border: 1px solid #3EB4B2;
    background-color: #b6ebe9;
}
.item5 a {
    font-size: small;
    text-decoration: none;
    color: #3EB4B2;
}
.item6 {
    padding: 0px 30px;
    width: 40%;
    display: block;
}
.item6 h2 {
    padding: 10px;
    border-top: 5px solid #FF7D5F;
    font-weight: 1;

}
.item6 p {
    padding-left: 100px;
    text-align: left;
    font-size: small;
    color: #ccc;
}

.item6 li {
    list-style: none;
    text-decoration: none;
}

.secondary {
    background-color: #FEEAE5;
    color: #FF7D5F;
    margin: 10px 10px 10px 50px;
    padding: 25px;
    border-radius: 50px;
    text-align: left;
    transition: background-color 0.3s;
}
.secondary:hover {
    color: #000;
    background-color: #f8c9bd;
    border: 1px solid #FF7D5F;
}

.item6 a {
    font-size: small;
    text-decoration: none;
    color: #FF7D5F;
}

.item7 {
    display: block;
    width: 40%;
    background-color: #D31245;
}

.item7 h2 {
    color: white;
    font-weight: 1;

}
.item7 p {
    padding-left: 100px;
    text-align: left;
    font-size: small;
    color: white;
}

.item7 li {
    list-style: none;
    text-decoration: none;
}

.tertiary {
    background-color: #E6829C;
    color: white;
    margin: 10px 50px 10px 50px;
    padding: 25px;
    border-radius: 50px;
    text-align: left;
    transition: color;
}

.tertiary:hover {
    border: 0.5px solid black;
}

.item7 a {
    font-size: small;
    text-decoration: none;
    color: white;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    background-color: #656D75;
}

.footer-institutional {
    list-style: none;
    color: white;
    font-size: small;
}

.footer-institutional li {
    text-align: left;
    padding: 5px;
}

.footer-exams {
    list-style: none;
    color: white;
    font-size: small;
}

.footer-exams li {
    text-align: left;
    padding: 5px;
}

.footer-services {
    list-style: none;
    color: white;
    font-size: small;
}

.footer-services li {
    text-align: left;
    padding: 5px;
}

.footer-financial {
    list-style: none;
    color: white;
    font-size: small;
}

.footer-financial li {
    text-align: left;
    padding: 5px;
}

.footer-contact-us {
    color: white;
    font-size: small;
}

.footer-end {
    margin: 0 auto;
    border-top: 2px solid white;
    color: white;
    background-color: #656D75;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: smaller;
    list-style: none;
}
.janela-modal {
    width: 99vw;
    /* height: 190%; */ 
    height: 100vh; 
    position: fixed;
    /* top: -405px; */ 
    top: 0; 
    left: 0;
    right: 5;
    display: none;
    align-items: center;
    justify-content: center;
    z-index:999;
    background-color: #827d7de3;
} 
.modal-dialog {
    height: 35%; 
    width: 95%; 
    background-color: white; 
    min-height: 60vh;
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 25px;
    margin-top: 40px;
    align-items: center;
    display: flex; 
    
}
.modal-bg { 
    width: 100%; 
    height: 90vh; 
    background-image:  url(/docs/img/WhatsApp\ Image\ 2023-09-26\ at\ 18.15.03.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white; 
    border-radius: 20px;

}
.fechar {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 0;
    background-color: red;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.login {
    cursor: pointer;
}
.janela-modal.abrirModal {
    display: flex;
}
@keyframes abrirmodal{
    from{
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
   to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
   } 
}
.abrirModal .modal-dialog{
    animation: abrirmodal 0.7s;

}

h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 50px;
    font-style: italic;
    color: green;
    text-shadow: black 1px 1px 2px;
    letter-spacing: -0.05em;
    margin: 2px 0px 45px;
}




h4 {   
    font-style: normal;
    font-size: 11px;

}
h5 {
    font-size: 12px;
}

input {
    height: 45px;
    width: 480px;
    font-size: 15px;
    border: 1px;
    padding: 8px;
    border-radius: 3px;
    border: 1.5px solid #161515;
    border-radius: 10px;
    margin-bottom: 15px;
   }
    h6 {
        margin-right: 60px;
    }
    .modal-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 40%; 

    }
    button{
    width: 500px;
    height: 63px;
    color: black;
    background-color: rgb(111, 192, 111);
    border-radius: 10px;
    font-size: 20px;
    max-width: 500px;
    cursor: pointer;
    
    }
   
    
