
.unidade {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.text_unidade p {
    font-size: 20px;
}
.map_unidade {
    box-sizing: border-box;
    border: 2px solid #3CAEC7;
    border-radius: 25px;
    padding: 5px;
    width: 50%;
    height: 35vh;
}

