.logo-icon {
    margin-left: 15px;
    width: 45px;
    height: 45px;
}

.unidade {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.text_unidade p {
    font-size: 20px;
}
.map_unidade {
    box-sizing: border-box;
    border: 2px solid #3CAEC7;
    border-radius: 25px;
    padding: 5px;
    width: 50%;
    height: 35vh;
}

.body_empresas {
    background-image: url('/img/apertodemaos.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.form_empresas {
    border-radius: 20px;
    background-color: #3CAEC7;
    color: white;
    opacity: 0.85;
    font-size: 25px;
    padding: 20px;
    width: 35vw;
}


.main_empresas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 15%;
}

.left_empresas {
    width: 40%;
}

.left_empresas h2 {
        font-size: 55px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
}

.left_empresas h3 {
    top: 50px;
    font-size: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.left_empresas p {
    position: relative;
    top: 40px;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
 }

form-control {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    color: #3CAEC7;
    border-radius: 20px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    padding: 14px 20px;
    background-color: #FF0000;
    color: white;
    opacity: 1.0;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}

input[type=submit]:hover {
    background-color: brown;
 }