body {
}

.logo-icon {
    margin-left: 15px;
    width: 45px;
    height: 45px;
}

.carousel {
    margin-top: 20px;
    display: flex;
    overflow: hidden;
    width: 100%;
}

.carousel-slide {
    width: 1920px;
    transition: transform 1s ease;
}

.carousel img {
    width: 1920px;
    height: 550px;
}

.carousel-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carousel-dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

    .carousel-dot.active {
        background-color: #3CAEC7;
    }