.container{
    margin-top: 2.5%;
    margin-left: 12%;
    margin-right: 15%;
    padding-bottom: 1%;
    
}

.links{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.elipse-btn {
    background-color: #fff;
    border-radius: 4rem;
    min-width: 30vw ;
    height: 3.25rem;
    border-width: 5;
    border-color: #3CAEC7;
    color: black;
    transition-duration: .3s;
    font-size: 15px;
}
.elipse-btn:hover {
    color: rgb(255, 255, 255);
    background-color: #048a83;
    cursor: pointer
}

.hidden{
    display: none;
}
.selected{
    color: rgb(255, 255, 255);
    background-color: #048a83;
}

.box{
    background: #D9D9D9;
    border-radius: 4rem;
    padding-left: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    min-height: fit-content;
}
.box1{
    background: #D9D9D9;
    border-radius: 4rem;
    padding-left: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    min-height: fit-content;
}
.box2{
    background: #D9D9D9;
    border-radius: 4rem;
    padding-left: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    min-height: fit-content;
}

.userimg{
    float: left;
    padding: 1% 3% 1% 1%;;
    display: block;
    margin: auto;
}

.vazio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
}
.circle{
    background: #D9D9D9;
    border-radius: 50%;
    width: 12vw;
    height: 12vw;
}
.alert {
    display: block;
    margin: auto;
    padding-top: 18%;
    width: 60%;
  }
.text {
    text-align: center;
    font-size: 25px;
}
.resultados{ 
   margin: 1% 2% 1% 2%;
   
}
.text_box{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 33%;
    height: 10%;
}

.text_box2{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.pedido{
    background: #D9D9D9;
    border-radius: 3rem;
    padding: 1% 1% 1% 1.5%;
    min-width: fit-content;
    min-height: fit-content;
   
}
.pdf{
    margin-top: 0.6%;
    background-color: #8cc3d0;
    border-radius: 4rem;
    min-width: 10vw ;
    height: 2rem;
    border-color: #3CAEC7;
    color: black;
    transition-duration: .3s;
    font-size: 15px;
}
.PPDU{
    display: flex;
    flex-wrap: wrap;
    padding: 0% 0% 0% 1.5%;
}
.PR{
    display: flex;
    box-sizing: border-box;
    padding: 0% 1% 0% 1.5%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    }

    .h3{
        margin: 0% 0% 0% 0%;
    }